.container {
  display: flex;
  width: 500px;
  height: 200px;
  flex-direction: column;
  margin: 35px;
}
.container-preview {
  display: flex;
  width: 800px;
  flex-direction: column;
  margin: 10px;
}
.label {
  background-color: coral;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}
.preview {
  min-height: 200px;
  display: flex;
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid black;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}
.editor {
  height: inherit;
  display: flex;
  padding: 5px;
  resize: none;
  border: 1px solid black;
  outline: none;
}
.header {
  background-color: #000;
  height: 100px;
  color: #fff;
  font-size: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
